/* En esta carpeta puedo tener separadas las variables */

:root {
  --background-color: #2e1a21;
  --primary-color: #fc9fb4;
  --color-white: #ffffff;
  --border-radius: 20px;
  --space: 10px;
  --inner-border-radius: 14px;
}
