html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-base);
  font-weight: var(--fw-500);
  color: var(--color-text-main);
  background-color: var(--color-bg-primary);
  padding-left: var(--space-4);
  padding-right: var(--space-4);
}
.overflow {
  overflow-x: hidden;
}
