<mat-card class="container">
  <mat-card-content class="card">
    <mat-card-title>¡Rota la imagen!</mat-card-title>

    <img
      rotate
      step="45"
      mat-card-image
      class="card__img"
      src="./assets/img/3.jpg"
      width="300px"
      alt="foto de un gato tumbado boca arriba del revés"
    />

    <p>
      Hax click en la imagen y rotará hacia la derecha o haz en la imagen con la
      tecla mayúsculas pulsada y la imagen rotará hacia la izquierda.
    </p>
  </mat-card-content>
</mat-card>
