$color: #2550ff;
$color-dark: darken($color, 30%);
$color-light: lighten($color, 30%);
$principal-font: 'Anton', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$box-shadow: 10px 11px 20px rgba(0, 0, 0, 0.7);
$border-radius: 10px;
