$color: #d15dc5;
$color-dark: darken($color, 30%);
$color-light: lighten($color, 30%);
$principal-font: 'Bebas Neue', cursive;
$secondary-font: 'Roboto', sans-serif;
$box-shadow: -10px 11px 20px rgba(0, 0, 0, 0.7);
$border-radius: 5px;
