@use '/src/_tema1.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Open+Sans&family=Roboto&display=swap');

* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.caja {
  min-height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  border: 1px solid grey;
  border-radius: $border-radius;
}
.base {
  @extend .caja;
  background-color: $color;
}
.important {
  @extend .caja;
  background-color: $color-dark;
}
.warning {
  @extend .caja;
  background-color: $color-light;
}
.shadow {
  @extend .caja;
  box-shadow: $box-shadow;
}
.principal-font {
  font-family: $principal-font;
}
.secondary-font {
  font-family: $secondary-font;
}
